{% macro home_header(current_user=None) %}
<header class="fixed" itemscope itemtype="https://schema.org/WPHeader">
    <div class="header-wrapper full flex align-center section-element">
        <div
            class="logo flex align-center justify-start"
            itemprop="publisher"
            itemscope
            itemtype="https://schema.org/Organization"
        >
            <img
                id="logo-img"
                src="{{ url_for('static', filename='images/favicon.png') }}"
                alt="LumiFeed Logo"
                itemprop="logo"
            />
            <span id="logo-text" itemprop="name">LumiFeed</span>
        </div>

        <nav
            role="navigation"
            class="relative flexed"
            itemscope
            itemtype="https://schema.org/SiteNavigationElement"
        >
            <div class="ul relative flexed justify-evenly">
                <div class="li li1">
                    <a class="f0 flexed" href="#table-end" rel="noopener">
                        <img
                            id="eee"
                            src="{{ url_for('static', filename='icons/dd1.svg') }}"
                            alt=""
                        />
                        End of Table
                    </a>
                </div>

                <div class="li li2">
                    <a class="f0 flexed" href="#table-start" rel="noopener">
                        <img
                            id="uuu"
                            src="{{ url_for('static', filename='icons/dd2.svg') }}"
                            alt=""
                        />
                        Start of Table
                    </a>
                </div>

                <div class="li li5 flexed">
                    {% if current_user and current_user.is_authenticated %}
                    <form
                        id="profile-form"
                        action="/profile/{{ current_user.username }}"
                        method="GET"
                    >
                        <div
                            class="profile"
                            onclick="document.getElementById('profile-form').submit();"
                        >
                            <img
                                src="{{ url_for('static', filename=current_user.profile_pic) }}"
                                alt="profile pic"
                            />
                        </div>
                    </form>
                    {% else %}
                    <form id="login-form" action="/login" method="GET">
                        <button type="submit" class="flexed" rel="noopener">
                            Login
                        </button>
                    </form>
                    {% endif %}
                </div>

                <div class="li li6 animated-underline-white og-li">
                    <a href="/" class="flexed" rel="noopener">Home</a>
                </div>
                <div class="li li3 animated-underline-white og-li">
                    <a href="/about" class="flexed" rel="noopener">About</a>
                </div>
                <div class="li li4 animated-underline-white og-li">
                    <a href="/contact" class="flexed" rel="noopener">Contact</a>
                </div>

                <div
                    class="nav-items-for-mobiles flexed flex-col f-gap-2"
                    style="display: none"
                >
                    <div class="li li6 mobile-li animated-underline-white">
                        <a href="/" class="flexed" rel="noopener">Home</a>
                    </div>
                    <div class="li li3 mobile-li animated-underline-white">
                        <a href="/about" class="flexed" rel="noopener">About</a>
                    </div>
                    <div class="li li4 mobile-li animated-underline-white">
                        <a href="/contact" class="flexed" rel="noopener"
                            >Contact</a
                        >
                    </div>
                </div>
            </div>
        </nav>

        <div
            itemscope
            itemtype="https://schema.org/SearchResultsPage"
            id="queryy"
            class="find flex-col f-gap-2"
        >
            <div class="search-bar relative flex justify-between align-center">
                <form
                    id="search-form"
                    class="relative full flex justify-between align-center"
                    action="/search_in_title"
                    method="post"
                    itemprop="potentialAction"
                    itemscope
                    itemtype="https://schema.org/SearchAction"
                >
                    <input
                        type="text"
                        name="search_part"
                        id="search"
                        placeholder="press enter/return key to search"
                        required
                        itemprop="query-input"
                    />
                    <button class="search-icon bg-set" id="submit">
                        Search
                    </button>
                    <script>
                        document
                            .getElementById("submit")
                            .addEventListener("click", () => {
                                document
                                    .getElementById("search")
                                    .classList.toggle("clicked");
                                document
                                    .getElementById("submit")
                                    .classList.toggle("clicked");
                            });
                    </script>
                </form>
            </div>
        </div>

        <div class="ham">
            <img
                height="20px"
                width="20px"
                src="/static/icons/ham.svg"
                style="display: flex"
            />
            <img
                height="20px"
                width="20px"
                src="/static/icons/cross3.svg"
                style="display: none"
            />
        </div>

        <div class="mobile-search-btn">
            <img
                src="{{ url_for('static', filename='icons/search3.svg') }}"
                alt="search button"
            />
        </div>

        <div class="buttons">
            <div class="dark-mode-btn dmbtn">
                <span id="dm">
                    <img
                        src="{{ url_for('static', filename='icons/dm2.svg') }}"
                        alt="dark mode button"
                    />
                </span>
            </div>
            <div class="bigger-font-btn">
                <span id="big_f">
                    <img
                        src="{{ url_for('static', filename='icons/bigger.svg') }}"
                        alt="bigger fonts button"
                    />
                </span>
            </div>
        </div>
    </div>
</header>
{% endmacro %}
