{% extends "layouts/auth-base.html" %}
<!-- Title -->
{% block title %}Login{% endblock %}

<!-- Image -->
{% block image %}
<figure>
  <img src="{{url_for('static', filename='images/login-image.jpg')}}" alt="log in image" />
</figure>
{% endblock %}

<!-- redirect -->
{% block redirect %}
<a href="{{url_for('register')}}" class="signup-image-link">New here? Create an account</a>
{% endblock %}

<!-- heading -->
{% block heading %}Log In{% endblock %}

<!-- action -->
{% block form_action %}/login{% endblock %}

<!-- input -->
{% block input %}
<input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
{% endblock %}

<!-- auth_api -->
{% block auth_api %}login{% endblock %}
