{% extends "layouts/auth-base.html" %}
<!-- Title -->
{% block title %}Register{% endblock %}

<!-- Image -->
{% block image %}
<figure>
  <img loading="lazy" src="{{url_for('static', filename='images/auth.png')}}" alt="register image" />
</figure>
{% endblock %}

<!-- redirect -->
{% block redirect %}
<a href="{{url_for('login')}}" class="signup-image-link">Have an account? Log In</a>
{% endblock %}

<!-- heading -->
{% block heading %}Register{% endblock %}

<!-- action -->
{% block form_action %}/register{% endblock %}

<!-- user name input-->
{% block userNameInput %}
<div class="form-group">
  <label for="your_name">
    <i class="material-icons-name">
      <svg width="64px" height="64px" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M8 7C9.65685 7 11 5.65685 11 4C11 2.34315 9.65685 1 8 1C6.34315 1 5 2.34315 5 4C5 5.65685 6.34315 7 8 7Z" fill="#000000"></path> <path d="M14 12C14 10.3431 12.6569 9 11 9H5C3.34315 9 2 10.3431 2 12V15H14V12Z" fill="#000000"></path> </g></svg>
    </i>
  </label>
  <input type="text" name="username" id="your_name" placeholder="Your Name" />
</div>
{% endblock %}


<!-- input -->
{% block input %}
<input type="submit" name="signin" id="signin" class="form-submit" value="Register" />
{% endblock %}

<!-- auth_api -->
{% block auth_api %}register{% endblock %}
