<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LumiFeed - {{current_user.username}}</title>
    {% include 'includes/head.html' %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/components/read.css')}}" />
  </head>

  <body>
    {% include 'includes/loader.html' %} {% include 'includes/header.html' %}

    <!-- add new collection -->
    <div class="add_new_collection_btn flexed">
      <div class="img_container">
        <img src="{{ url_for('static', filename='icons/plus-circle.svg') }}" alt="" />
      </div>
    </div>

    <!-- collections  -->
    <div class="collections_container flex-col">{% block collections%} {% endblock %}</div>

    <div class="collection_display"></div>

    <!-- read -->
    <div class="read flexed" id="read">
      <div class="read__container full flex-col">
        <div class="read__navigations flex align-center f-gap-2">
          <span id="read__preview">PREVIEW</span>
          <div class="read__icons ri1" id="open-in-new-tab">
            <img src="{{url_for('static', filename='icons/open1.svg')}}" alt="open preview in new tab" />
          </div>
          <div class="read__icons ri2" id="close-preview">
            <img src="{{url_for('static', filename='icons/cross1.svg')}}" alt="close preview" />
          </div>
        </div>
        <div class="read__page bg-set" itemscope itemtype="https://schema.org/NewsArticle">
          <meta itemprop="NewsArticle" content="News Article" />
          <br />
          <h1 id="ajax_h1" itemprop="headline"></h1>
          <br />
          <h3 id="ajax_h3" itemprop="description"></h3>
          <br />
          <br />
          <p id="ajax_p" itemprop="articleBody">
            <img id="ajax_img" src="" alt="news article image" itemprop="image" />
            <br />
          </p>
        </div>
      </div>
    </div>
    <!-- js for #read -->
    <script>
      const read = document.getElementById("read");
      const closeBtn = document.getElementById("close-preview");
      const openInNewTabBtn = document.getElementById("open-in-new-tab");
      closeBtn.addEventListener("click", () => {
        read.style.display = "none";
      });
      openInNewTabBtn.addEventListener("click", () => {
        setTimeout(() => {
          read.style.display = "none";
        }, 500);
      });
    </script>

    <!-- js  -->
    <!-- profile toggle -->
    <script>
      profileIcon = document.getElementById("profile");
      profileDetails = document.querySelector(".profile_settings");

      profileIcon.addEventListener("click", () => {
        if (profileDetails.style.display === "none") {
          profileDetails.style.display = "flex";
        } else {
          profileDetails.style.display = "none";
        }
      });
    </script>

    <!-- displayMessage -->
    <script>
      function displayMessage(message, className) {
        const messageElement = document.createElement("div");
        messageElement.classList.add("temporary-message");
        if (className) {
          messageElement.classList.add(className);
        }
        messageElement.textContent = message;
        document.body.appendChild(messageElement);
        setTimeout(() => {
          messageElement.remove();
        }, 3000);
      }
    </script>

    <!-- delete articles from playlists -->
    <script type="text/javascript" src="{{url_for('static', filename='js/ajax/delete_articles.js')}}"></script>
    <!-- delete collections -->
    <script type="text/javascript" src="{{url_for('static', filename='js/ajax/delete_collection.js')}}"></script>
    <!-- add new collections -->
    <script type="text/javascript" src="{{url_for('static', filename='js/ajax/new_collection.js')}}"></script>
    <!-- read in new tab -->
    <script type="text/javascript" src="{{url_for('static', filename='js/ajax/read_news_new_tab.js')}}"></script>
    <!-- preview news -->
    <script type="text/javascript" src="{{url_for('static', filename='js/ajax/preview_news.js')}}"></script>
    <!-- save article -->
    <script type="text/javascript" src="{{url_for('static', filename='js/ajax/save_article.js')}}"></script>

    <script>
      const collectionDisplay = document.querySelector(".collection_display");
      const collectionGroup = document.querySelectorAll(".collection_group");

      collectionGroup.forEach((group) => {
        group.addEventListener("click", () => {
          collectionDisplay.innerHTML = group.innerHTML;

          // removing the dustbin from the collection_display,
          // at the first loading there will be error as Read Later does not have delete_collection / dustbin
          const collDisplay = document.querySelector('.collection_display');
          const deleteCollection =  collDisplay.querySelector('.delete_collection');
          deleteCollection.style.opacity = 0;

          show_news_preview();
          read_in_new_tab();
          deleteArticle();
        });
      });

      collectionGroup[0].click();
    </script>

    <!-- dark mode -->
    <script type="text/javascript" src="{{url_for('static', filename='js/functions/dark_mode.js')}}"></script>
  </body>
</html>
