<!DOCTYPE html>
<html lang="en">
  <head>
    <title>LumiFeed - {{current_user.username}}</title>
    {% include 'includes/head.html' %}
  </head>

  <body>
    {% include 'includes/header.html' %}

    <!-- add new collection -->
    <div class="add_new_collection_btn flexed">
      <div class="img_container">
        <img src="{{ url_for('static', filename='icons/plus-circle.svg') }}" alt="" />
      </div>
    </div>

    <!-- collections  -->

    <!-- currently there will be no new page for each playlist. so making them bigger instead -->
    <!-- first i thought this will be just a preview page, so i used collection_group, to show multiple 
      collections, but now they containonly one  -->
      <div class="collections_container flex-col">
        <!-- permanent collections-->
         <!-- read_later-->
        <div class="collection_group flexed">
          <div class="read_later collection permanent_collection">
            <div class="collection_name">Read Later</div>
            <div class="collection_content">
              <ul>
                {% block read_later_li %}{% endblock %}
              </ul>
            </div>
          </div>
        </div>

        <!-- liked_articles -->
        <div class="collection_group flexed">
          <div class="saved_articles collection permanent_collection">
            <div class="collection_name">Liked Articles</div>
            <div class="collection_content">
              <ul>
                {% block liked_collections_li %}{% endblock %}
              </ul>
            </div>
          </div>
        </div>
        
        <!-- deletable collections -->
        {% block other_collections %}
          {% block other_collections_li %}{% endblock %}
        {% endblock %}   
      </div>


    <!-- js  -->
    <!-- profile toggle -->
    <script>
      profileIcon = document.getElementById("profile");
      profileDetails = document.querySelector(".profile_settings");

      profileIcon.addEventListener("click", () => {
        if (profileDetails.style.display === "none") {
          profileDetails.style.display = "flex";
        } else {
          profileDetails.style.display = "none";
        }
      });
    </script>

    <!-- add new collections -->
    <script type="text/javascript" src="{{url_for('static', filename='js/ajax/new_collection.js')}}"></script>

    <!-- delete articles from playlists -->
    <script type="text/javascript" src="{{url_for('static', filename='js/ajax/delete_articles.js')}}"></script>

    <!-- delete collections -->
    <script type="text/javascript" src="{{url_for('static', filename='js/ajax/delete_collection.js')}}"></script>
  
    <!-- dark mode -->
    <script type="text/javascript" src="{{url_for('static', filename='js/functions/dark_mode.js')}}"></script>
  </body>
</html>
