<footer class="mt-auto">
    <!-- desktop -->
    <div class="bg-white underline-offset-4 hidden md:block">
        <div class="flex items-center justify-between px-6 py-3.5">
        <div class="text-xs text-neutral-500">© 2024 subhajitgorai</div>
        <div class="flex space-x-6 text-xs text-neutral-500">
            <a href="../index.html" class="hover:underline">Blog</a>
            <a href="../contacts.html" class="hover:underline">Contact</a>
            <a href="#" class="hover:underline">Buy Me a Coffee</a>
        </div>
        </div>
    </div>

    <!-- mobile -->
    <div class="bg-white py-4 md:hidden">
        <div class="flex flex-col items-center justify-center">
        <ul class="flex flex-wrap items-center justify-center text-sm text-neutral-500">
            <li class="mx-2 my-1">
            <a href="../index.html" class="hover:underline">Blog</a>
            </li>
            <li class="mx-2 my-1">
            <a href="../contacts.html" class="hover:underline">Contact</a>
            </li>
            <li class="mx-2 my-1">
            <a href="#" class="hover:underline">Buy Me a Coffee</a>
            </li>
        </ul>
        <ul class="flex flex-wrap items-center justify-center text-sm text-neutral-500">
            <!--
            <li class="mx-2 my-1">
            <a href="https://twitter.com/subhajitgorai" class="hover:underline">X (Twitter)</a>
            </li> -->
        </ul>
        <div class="mt-2 flex items-center justify-center text-sm text-neutral-500">© 2024 subhajitgorai Inc.</div>
        </div>
    </div>
</footer>

<span class="hidden" id="end_of_template"></span>
