<head>
    <title>Blog · Subhajit Gorai</title>

    <meta charset="utf-8"/>
    <meta name="description" content="Get up and running with large language models."/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!-- other meta data -->
    <meta property="og:title" content="Blog · subhajitgorai"/>
    <meta property="og:description" content="Get upx and running with large language models."/>
    <meta property="og:url" content="https://subhajitgorai.com/blog"/>
    <meta property="og:image" content="https://subhajitgorai.com/og-img-path"/>
    <meta property="og:image:type" content="image/png"/>
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="628"/>
    <meta property="og:type" content="website"/>

    <!-- css -->
    <link href="../tailwind.css" rel="stylesheet"/>
    <link href="../main.css" rel="stylesheet"/>
    <link href="../header.css" rel="stylesheet"/>
    <link href="../footer.css" rel="stylesheet"/>

    <!-- favicon -->
    <link type="image/x-icon" rel="icon" href="favicon.png"/>

    <script type="application/ld+json">
        {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "subhajitgorai",
        "url": "https://blog.subhajitgorai.com"
        }
    </script>

    <!-- copy to clipboard function was here but not needed now -->
</head>
