
body.dark-mode,
.dark-mode{
    background-color: var(--bg2);
    color: var(--bg1);
}

body.dark-mode::-webkit-scrollbar{
    background-color: rgb(33, 33, 33);
    color: aliceblue;
}


body.dark-mode input{
    border: 1px solid rgb(198, 204, 210);
    color: var(--bg1);
}

body.dark-mode input::placeholder{
    color: var(--dim-border);
}


/* table */
:root{
    --table-a-clr: rgb(255, 241, 108);
    --table-text-clr-dm: rgb(255, 255, 255);
    --rbtn-clr: rgb(0, 195, 0);
    --th-text-clr: rgba(255, 255, 255, 1);
    --ct1: rgba(92, 92, 92, 1);     /* th clr */
    --ct2: rgba(0, 0, 0, 1);     /* actual even row */
    --ct3: rgba(54, 54, 54, 0.89);     /*  odd row*/
}

body.dark-mode table{
    color: var(--table-text-clr-dm);
}

body.dark-mode th{
    color: var(--th-text-clr) !important;
}


body.dark-mode table a{
    color: var(--table-a-clr);
}

body.dark-mode .rbtn{
    background-color: var(--rbtn-clr);
}

/* 
body.dark-mode .btn{
    color: black !important;
} */

body.dark-mode .btn:hover{
    background-color: black !important;
    color: whitesmoke !important;
    /* or use white */
}


body.dark-mode .fetch_news h2{
    color: bisque;
}




body.dark-mode .about,
body.dark-mode .contact{
    background-color: rgba(108, 108, 108, 1);
}

body.dark-mode .about h2,
body.dark-mode .contact h2{
    color: rgb(0, 0, 0);
}

body.dark-mode .about p,
body.dark-mode .contact p{
    background-color: rgba(15, 15, 15, 1);
}



/* read */
:root{
    --rbtn-clr2: rgb(0, 195, 0);
}
body.dark-mode .read__container{
    border: 3px solid var(--rbtn-clr2);
    background-color: rgb(35, 35, 35);
}

body.dark-mode .read__navigations{
    background-color: var(--rbtn-clr2);
    border-bottom: 2px solid rgb(0, 152, 0);
}

body.dark-mode .read__page::-webkit-scrollbar{
    background-color: rgb(47, 47, 47);
}




@media (min-width: 300px) and (max-width: 768px) {
    /* header,footer, .fetch_news{display: none;} */
}

@media (min-width: 769px) and (max-width: 1024px) {
    
}

@media (min-width: 1025px) and (max-width: 1440px) {

}