<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- Title -->
        <title>LumiFeed - Ad Free News, Summaries, and Key Points</title>
        <!-- Meta Description -->
        <meta
            name="description"
            content="LumiFeed offers ad-free news with comprehensive summaries and key points. Stay updated with news from Kolkata and Indian cities through a clean and clutter-free UI/UX."
        />
        <!-- Meta Keywords -->
        <meta
            name="keywords"
            content="LumiFeed, ad free news, news summary, key points, news reader"
        />
        <!-- Author -->
        <meta name="author" content="Subhajit Gorai" />
        <!-- Linking CSS -->
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='css/style.css')}}"
        />
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='css/components/fonts.css')}}"
        />
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='css/dark-mode.css')}}"
        />
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='css/components/header.css')}}"
        />
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='css/components/nav.css')}}"
        />
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='css/components/fetch_news.css')}}"
        />
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='css/components/table.css')}}"
        />
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='css/components/read.css')}}"
        />
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='css/components/search.css')}}"
        />
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='css/components/about_and_contact.css')}}"
        />
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='css/utils.css')}}"
        />
        <!-- Linking Favicon -->
        <link
            rel="shortcut icon"
            href="{{url_for('static', filename='images/favicon.png')}}"
            type="image/x-icon"
        />

        <!-- Open Graph Metadata -->
        <meta
            property="og:title"
            content="LumiFeed - Ad Free News, Summaries, and Key Points"
        />
        <meta
            property="og:description"
            content="LumiFeed offers ad-free news with comprehensive summaries and key points. Stay updated with news from Kolkata and Indian cities through a clean and clutter-free UI/UX."
        />
        <meta
            property="og:image"
            content="{{url_for('static', filename='images/social-preview.png')}}"
        />
        <meta property="og:url" content="https://lumifeed.up.railway.app" />
        <meta property="og:type" content="website" />
        <meta property="og:site_name" content="LumiFeed" />

        <!-- Twitter Card Metadata -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta
            name="twitter:title"
            content="LumiFeed - Ad Free News, Summaries, and Key Points"
        />
        <meta
            name="twitter:description"
            content="LumiFeed offers ad-free news with comprehensive summaries and key points. Stay updated with news from Kolkata and Indian cities through a clean and clutter-free UI/UX."
        />
        <meta
            name="twitter:image"
            content="{{url_for('static', filename='images/social-preview.png')}}"
        />
        <meta name="twitter:site" content="@yourtwitterhandle" />

        <!-- Robots Metadata -->
        <meta name="robots" content="index, follow" />

        <!-- Theme Color for Mobile Browsers -->
        <meta name="theme-color" content="#ffffff" />

        <!-- Scripts for SEO -->
        <!-- Schema.org markup for Google -->
        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "NewsArticle",
                "headline": "LumiFeed - Ad Free News, Summaries, and Key Points",
                "image": [
                    "https://lumifeed.up.railway.app/static/images/social-preview.png"
                ],
                "datePublished": "2024-07-15",
                "dateModified": "2024-07-15",
                "author": {
                    "@type": "Person",
                    "name": "Subhajit Gorai"
                },
                "publisher": {
                    "@type": "Organization",
                    "name": "LumiFeed",
                    "logo": {
                        "@type": "ImageObject",
                        "url": "https://lumifeed.up.railway.app/static/images/logo.png"
                    }
                },
                "description": "LumiFeed offers ad-free news with comprehensive summaries and key points. Stay updated with news from Kolkata and Indian cities through a clean and clutter-free UI/UX."
            }
        </script>

        <!-- css for loader -->
        <style>
            .loader-container {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.25);
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 99999999999999;
            }

            .loader {
                position: absolute;
                top: 0;
                left: 0;
                height: 8px;
                width: 100%;
                --c: no-repeat linear-gradient(#543310 0 0);
                background: var(--c), var(--c), #f8f4e1;
                background-size: 60% 100%;
                animation: l16 3s infinite;
            }
            @keyframes l16 {
                0% {
                    background-position:
                        -150% 0,
                        -150% 0;
                }
                66% {
                    background-position:
                        250% 0,
                        -150% 0;
                }
                100% {
                    background-position:
                        250% 0,
                        250% 0;
                }
            }
        </style>
    </head>

    <body>
        <div id="loader" class="loader-container" style="display: none">
            <div class="loader"></div>
        </div>

        {% block contents %}{% endblock %}

        <!-- script.js -->
        <script
            type="text/javascript"
            src="{{url_for('static', filename='js/script.js')}}"
        ></script>

        <script>
            const aboutDiv = document.querySelector(".li3");
            const contactDiv = document.querySelector(".li4");
            const homeDiv = document.querySelector(".li6");

            [aboutDiv, contactDiv, homeDiv].forEach((div) => {
                div.addEventListener("click", () => {
                    div.querySelector("a").click();
                });
            });

            document.querySelectorAll(".mobile-li").forEach((li) => {
                li.addEventListener("click", () => {
                    li.querySelector("a").click();
                });
            });
        </script>
        <!-- displayMessage -->
        <script>
            function displayMessage(message, className) {
                const messageElement = document.createElement("div");
                messageElement.classList.add("temporary-message");
                if (className) {
                    messageElement.classList.add(className);
                }
                messageElement.textContent = message;
                document.body.appendChild(messageElement);
                setTimeout(() => {
                    messageElement.remove();
                }, 3000);
            }
        </script>
        <script
            type="text/javascript"
            src="{{url_for('static', filename='js/functions/bigger_font.js')}}"
        ></script>
        <script
            type="text/javascript"
            src="{{url_for('static', filename='js/functions/city_options_toggle.js')}}"
        ></script>
        <script
            type="text/javascript"
            src="{{url_for('static', filename='js/functions/dark_mode.js')}}"
        ></script>
        <script>
            const read = document.getElementById("read");
            const closeBtn = document.getElementById("close-preview");
            const openInNewTabBtn = document.getElementById("open-in-new-tab");
            closeBtn.addEventListener("click", () => {
                read.style.display = "none";
            });
            openInNewTabBtn.addEventListener("click", () => {
                setTimeout(() => {
                    read.style.display = "none";
                }, 500);
            });
        </script>
        <script
            type="text/javascript"
            src="{{url_for('static', filename='js/functions/search.js')}}"
        ></script>
        <script
            type="text/javascript"
            src="{{url_for('static', filename='js/functions/fetch_news.js')}}"
        ></script>

        <!-- utils -->
        <script
            type="text/javascript"
            src="{{url_for('static', filename='js/utils/scroll/smooth-scrolling.js')}}"
        ></script>

        <!-- ajax -->
        <script
            type="text/javascript"
            src="{{url_for('static', filename='js/ajax/preview_news.js')}}"
        ></script>
        <script
            type="text/javascript"
            src="{{url_for('static', filename='js/ajax/read_news_new_tab.js')}}"
        ></script>
        <script
            type="text/javascript"
            src="{{url_for('static', filename='js/ajax/save_article.js')}}"
        ></script>
        <script
            type="text/javascript"
            src="{{url_for('static', filename='js/ajax/fetch_news.js')}}"
        ></script>
        <script
            type="text/javascript"
            src="{{url_for('static', filename='js/ajax/find_article.js')}}"
        ></script>
        <script
            type="text/javascript"
            src="{{url_for('static', filename='js/ajax/desktop_search.js')}}"
        ></script>
        <script
            type="text/javascript"
            src="{{url_for('static', filename='js/ajax/mobile_search.js')}}"
        ></script>

        {% block scripts %} {% endblock %}
        <script
            type="text/javascript"
            src="{{url_for('static', filename='js/lenis.js')}}"
        ></script>
        <script>
            const lenis = new Lenis({
                duration: 0.1,
                easing: (t) => Math.min(1, 1.001 - Math.pow(2, -10 * t)),
                smooth: true,
            });
            function raf(time) {
                lenis.raf(time);
                requestAnimationFrame(raf);
            }
            requestAnimationFrame(raf);
        </script>
    </body>
</html>
