* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg1: rgb(221, 221, 221);
  --bg1-val: var(--bg1);
  --bg2: black;
  --clr2: rgb(221, 43, 79);
  --c2: #dd2b4f;
  --color-beige-100: #fff0e5;
  --color-blue-0: #f5fcff;
  --color-blue-100: #d3f2ff;
  --color-blue-300: #66c4ff;
  --color-blue-400: #3388ff;
  --color-blue-500: #1557ff;
  --color-blue-800: #1d2340;
  --color-navy-100: rgba(16, 22, 47, 0.04);
  --color-navy-200: rgba(16, 22, 47, 0.12);
  --color-navy-300: rgba(16, 22, 47, 0.28);
  --color-navy-400: rgba(16, 22, 47, 0.45);
  --color-navy-500: rgba(16, 22, 47, 0.63);
  --color-navy-600: rgba(16, 22, 47, 0.75);
  --color-navy-700: rgba(16, 22, 47, 0.86);
  --color-navy-800: #10162f;
  --color-navy-900: #0a0d1c;
  --color-green-0: #f5ffe3;
  --color-green-100: #eafdc6;
  --color-green-400: #aee938;
  --color-green-700: #008a27;
  --color-yellow-0: #fffae5;
  --color-yellow-400: #cca900;
  --color-yellow-500: #ffd300;
  --color-pink-0: #fff5ff;
  --color-pink-400: #f966ff;
  --color-red-0: #e85d7f;
  --color-red-100: #dc5879;
  --color-red-500: #e91c11;
  --color-red-600: #be1809;
  --color-orange-500: #ff8c00;
  --color-hyper-400: #5533ff;
  --color-hyper-500: #3a10e5;
  --color-gray-100: #f5f5f5;
  --color-gray-200: #eeeeee;
  --color-gray-300: #e0e0e0;
  --color-gray-600: #9e9e9e;
  --color-gray-800: #616161;
  --color-gray-900: #424242;
  --color-white-100: rgba(255, 255, 255, 0.04);
  --color-white-200: rgba(255, 255, 255, 0.09);
  --color-white-300: rgba(255, 255, 255, 0.2);
  --color-white-400: rgba(255, 255, 255, 0.33);
  --color-white-500: rgba(255, 255, 255, 0.5);
  --color-white-600: rgba(255, 255, 255, 0.65);
  --color-white-700: rgba(255, 255, 255, 0.8);
  --color-shadow-black-slight: rgba(0, 0, 0, 0.15);
  --color-shadow-black-heavy: rgba(0, 0, 0, 0.75);
  --color-shadow-white-slight: rgba(255, 255, 255, 0.15);
  --color-shadow-white-heavy: rgba(255, 255, 255, 0.95);
  --color-beige: #fff0e5;
  --color-blue: #1557ff;
  --color-green: #008a27;
  --color-hyper: #3a10e5;
  --color-lightBlue: #66c4ff;
  --color-lightGreen: #aee938;
  --color-navy: #10162f;
  --color-orange: #ff8c00;
  --color-paleBlue: #f5fcff;
  --color-paleGreen: #f5ffe3;
  --color-palePink: #fff5ff;
  --color-paleYellow: #fffae5;
  --color-pink: #f966ff;
  --color-paleRed: #dc5879;
  --color-red: #e91c11;
  --color-yellow: #ffd300;
  --color-black: #000000;
  --color-white: #ffffff;
}

body {
  background-color: rgb(251, 251, 251);
  color: black;
  font-family: poppins, sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.f0 {
  font-size: 0rem;
}

.active_highlight {
  border: 2px solid rgb(255, 38, 0);
}

.active_highlight_dark {
  border: 2px solid rgb(255, 234, 0);
}

.red-hat-display-400 {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

input {
  width: calc(var(--w) - 60px) !important;
  display: inline !important;
  border-width: 1px !important;
}

#search {
  background-color: transparent;
  border-color: var(--v-th) !important;
  border-radius: 0px !important;
  border-width: 2px !important;
  display: block;
  border-top: none;
  border-left: none;
  border-right: none;
}
body.dark-mode .find #search {
  border-color: rgb(108, 108, 108, 0.9) !important;
}
.btn {
  font-family: poppins, "Times New Roman", Times, serif !important;
  /* font-size: 1rem !important; */
  background-color: var(--clr2) !important;
  border: calc(1px) solid var(--clr2) !important;
  color: white !important;

  &:hover {
    background-color: rgb(251, 251, 251) !important;
    color: var(--clr2) !important;
    transition: all 0.3s;
    border: calc(1px) solid var(--clr2) !important;
  }
}

/* .section-element {} */

/* use different class for different styling */
.flash_ul {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #dd2b4f;
  color: rgb(255, 255, 255);
  font-family: poppins;
  list-style-type: none;
  font-size: 1rem;
  box-sizing: border-box;
  border-radius: 20px 20px 0 0;
}

.flash_li {
  text-align: center;
}

/* profile */

.profile {
  --l: 30px;
  width: var(--l);
  height: var(--l);
  border-radius: 50%;
  overflow: hidden;

  & img {
    position: relative;
    width: 100%;
    height: 100%;
  }
}

.temporary-message {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: var(--clr2); /* Very light pink */
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  animation: fadeInOut 5s ease-in-out;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  10%,
  90% {
    opacity: 1;
  }
}

.delete-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-family: "Poppins", sans-serif;
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 80%;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.modal-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.yes-button {
  background-color: #f9f7f7;
  color: black;
}

.no-button {
  background-color: #fbfcfb;
  color: black;
}

body.dark-mode .delete-modal {
  background-color: rgba(0, 0, 0, 0.5);
}

body.dark-mode .modal-content,
body.dark-mode .modal-button,
body.dark-mode .no-button,
body.dark-mode .yes-button {
  background-color: rgb(35, 35, 35);
  color: #f9f7f7;
}

.message {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #ffe5e5;
  color: #333;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1001;
  animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
  0%,
  100% {
    opacity: 0;
  }
  10%,
  90% {
    opacity: 1;
  }
}
