* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg1: rgb(221, 221, 221);
  --bg1-val: var(--bg1);
  --bg2: black;
  --clr2: rgb(221, 43, 79);
  --c2: #dd2b4f;
}

body {
  background-color: rgb(251, 251, 251);
  color: black;
  font-family: poppins, sans-serif;
}

a {
  color: black;
}

.f0 {
  font-size: 0rem;
}

.active_highlight {
  border: 2px solid rgb(255, 38, 0);
}

.active_highlight_dark {
  border: 2px solid rgb(255, 234, 0);
}

.red-hat-display-400 {
  font-family: "Red Hat Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

input {
  width: calc(var(--w) - 60px) !important;
  display: inline !important;
  border-width: 1px !important;
}
#search {
  background-color: transparent;
  border-color: var(--v-th) !important;
  border-radius: 20px !important;
  border-width: 1px !important;
}
.btn {
  font-family: poppins, "Times New Roman", Times, serif !important;
  /* font-size: 1rem !important; */
  background-color: var(--clr2) !important;
  border: calc(1px) solid var(--clr2) !important;
  color: white !important;

  &:hover {
    background-color: rgb(251, 251, 251) !important;
    color: var(--clr2) !important;
    transition: all 0.3s;
    border: calc(1px) solid var(--clr2) !important;
  }
}

/* use different class for different styling */
.flash_ul {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: #dd2b4f4d;
  color: black;
  font-family: poppins;
  list-style-type: none;
  font-size: 1rem;
  box-sizing: border-box;
  border-radius: 20px 20px 0 0;
}

.flash_li {
  text-align: center;
}

/* profile */

.profile {
  --l: 30px;
  width: var(--l);
  height: var(--l);
  border-radius: 50%;
  overflow: hidden;

  & img {
    position: relative;
    width: 100%;
    height: 100%;
  }
}
