@import url("https://fonts.cdnfonts.com/css/poppins");
body {
    position: relative;
    /* background-color: rgb(242, 232, 207); */
}
@font-face {
    font-family: Zodiak;
    src: url("/fonts/Zodiak-Light.woff2") format("woff2");
}
@font-face {
    font-family: SentientLight;
    src: url("/fonts/Sentient-Light.woff2") format("woff2");
}
@font-face {
    font-family: Dahlia;
    src: url("/fonts/dahlia.woff2") format("woff2");
}
