{% extends 'layouts/layout.html' %} {% block content %}
<div
    role="aboutInformation"
    itemscope
    itemtype="https://schema.org/AboutPage"
    class="about section-element"
>
    <h2>About</h2>
    <p>
        Welcome to <strong>LumiFeed</strong>, your modern and clutter-free news
        reading platform. <br /><br />
        This isn’t your traditional news source; instead, it’s best described as
        a <strong>“News Reader.”</strong> <br /><br />
        <strong>Why a “News Reader”?</strong>
        <br />
        On LumiFeed, you won’t find an endless stream of articles competing for
        your attention or intrusive ads making the experience chaotic. If, like
        me, you dislike the overwhelming clutter of conventional news platforms,
        then you’re in the right place.
        <br /><br />
        Here’s how it works: simply choose your favorite news agency—like BBC,
        CNN, Indian Express, and many more—then select a genre, such as sports
        or politics. With just one click, you can fetch a clean and ad-free list
        of articles tailored to your interests.
        <br /><br />
        LumiFeed also provides <strong>high-quality summaries</strong> for every
        article, enabling you to
        <strong>quickly understand the key points</strong> without having to
        read through lengthy content. Additionally, you can
        <strong>save articles into organized collections</strong>, making it
        easy to revisit your favorite articles anytime. <br /><br />
        Thank you for visiting LumiFeed. Enjoy your distraction-free news
        reading experience!
    </p>
    <div class="contact-hanger" id="contact"></div>
</div>
{% endblock %} {% block scripts %} {% endblock %}
