{% extends "layouts/profile_layout.html" %}

<!-- why and, why not or ? -->
{% block collections %}
<!--  -->
{% for coll in current_user.collections.all() %}
<div class="collection_group flexed">
    <div id="{{'collection' + loop.index|string}}" class="collection">
        <div class="collection_name">
            {{ coll.collection_name }}
            <!-- why and / why not or: cuz i want the condition to be false for these 2 collections, NOT TRUE -->
            {% if coll.collection_name != 'Liked Articles' and
            coll.collection_name != 'Read Later' %}
            <span class="delete_collection">
                <img
                    src="{{ url_for('static', filename='icons/delete.svg') }}"
                    alt="delete this collection"
                />
            </span>
            {% endif %}
        </div>
        <div class="collection_content">
            <ul>
                {% for news_article in
                current_user.all_articles_in_collection(coll.id) %}
                <li
                    class="read_here"
                    data-url="{{ news_article.article_url | trim }}"
                    data-collection="{{ coll.collection_name | trim }}"
                >
                    {{ news_article.article_title | trim }}
                    <span class="delete_article">
                        <img
                            src="{{ url_for('static', filename='icons/delete.svg') }}"
                            alt="Delete article"
                        />
                    </span>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endfor %}
<!--  -->
{% endblock %}
