{% extends "layouts/auth-base.html" %}
<!-- Title -->
{% block title %}Delete Accout{% endblock %}

<!-- msg -->
{% block flashMsg %}
<style>
    .redMsg {
        background: red;

        & li {
            background: inherit;
            color: whitesmoke;
        }
    }
</style>
{% if get_flashed_messages() %}
<ul class="flash_ul redMsg">
    {% for message in get_flashed_messages() %}
    <li class="flash_li">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %} {% endblock %}

<!-- Image -->
{% block image %}
<div
    class="register-info"
    style="
        display: flex;
        font-size: 1.5rem;
        font-weight: 450;
        text-align: center;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
    "
>
    <br />
    <br />
    WHY? :(
    <br />
    <div style="font-size: 0.85rem">
        You Can mail me if you faced any problem here. lumifeed101@gmail.com
    </div>
    <br />
</div>
{% endblock %}

<!-- redirect -->
{% block redirect %}
<!-- <a class="redirection_link" href="{{url_for('auth_bp.login')}}" class="signup-image-link">Have an account? Log In</a> -->
{% endblock %}

<!-- heading -->
{% block heading %}Enter your password to confirm{% endblock %}

<!-- action -->
{% block form_action %}/delete_account{% endblock %}

<!-- user name input-->
{% block userNameInput %} {% endblock %}

<!-- input -->
{% block input %}
<input
    type="submit"
    name="signin"
    id="signin"
    class="form-submit"
    value="Delete Account"
/>
{% endblock %}

<!-- auth_api -->
{% block auth_api %}{% endblock %}

<!-- scripts -->
{% block scripts %}
<script>
    const social = document.querySelector(".social-login");
    social.style.display = "none";
</script>
{% endblock %}
