<header class="fixed" itemscope itemtype="https://schema.org/WPHeader">
  <div class="header-wrapper full flex align-center">
    <div class="logo flex align-center justify-start" itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
      <img id="logo-img" src="{{url_for('static', filename='images/favicon.png')}}" alt="LumiFeed Logo" itemprop="logo" />
      <span id="logo-text" itemprop="name">LumiFeed</span>
    </div>

    <nav role="navigation" class="relative flexed" itemscope itemtype="https://schema.org/SiteNavigationElement">
      <div class="ul relative flexed justify-evenly">
        <div class="li li2 flexed" id="profile">
          <img class="iconImg" src="{{ url_for('static', filename='images/default-profile.svg') }}" alt="" srcset="" />

          <!-- profile setttings  -->
          <div class="profile_settings" style="display: none">
            <div class="user_details">
              <div class="profile_pic cen flexed">
                <img src="{{ url_for('static', filename='images/default-profile.svg') }}" alt="" srcset="" />
              </div>
              <div class="user_name">{{current_user.username}}</div>
              <div class="user_email">{{current_user.email}}</div>
            </div>
            <div class="delete_account flexed flex-col f-gap-1">
                <form action="{{url_for('reset_password')}}" method="post">
                    <button type="submit" class="flexed">RESET PASSWORD</button>
                </form>
                <form action="/profile" method="get">
                    <button type="submit" class="flexed">DELETE ACCOUNT</button>
                </form>
            </div>
          </div>
        </div>
        <div class="li li3 animated-underline-white">
          <a href="{{url_for('index')}}" class="flexed" rel="noopener">Home</a>
        </div>
        <div class="li li4 animated-underline-white">
          <a href="{{url_for('logout')}}" class="flexed" rel="noopener">logout</a>
        </div>
      </div>
    </nav>

    <div class="buttons">
      <div class="dark-mode-btn dmbtn">
        <span id="dm">
          <img src="{{url_for('static', filename='icons/dm2.svg')}}" alt="dark mode button" />
        </span>
      </div>
    </div>
  </div>
  <script>
    const aboutDiv = document.querySelector(".li3");
    const contactDiv = document.querySelector(".li4");

    aboutDiv.addEventListener("click", () => {
      aboutDiv.querySelector("a").click();
    });

    contactDiv.addEventListener("click", () => {
      contactDiv.querySelector("a").click();
    });
  </script>
</header>
