{% extends 'layouts/layout.html' %} {% block content %}
<div
    role="aboutInformation"
    itemscope
    itemtype="https://schema.org/AboutPage"
    class="about section-element"
>
    <h2>About</h2>
    <p>
        Welcome to<strong>LumiFeed.</strong>
        Here you can read various news articles of many news agencies
        <strong>without any advertisements and clutter.</strong>
        Also <strong>high quality summary</strong>
        of every article is available, allowing you to
        <strong>quickly grasp all of the key points.</strong>
        and
        <strong>you can also store news-articles in various collections</strong>
        for better organisation and access.
        <br />
        <br />
        Thanks for visiting!
    </p>
    <div class="contact-hanger" id="contact"></div>
</div>
{% endblock %} {% block scripts %} {% endblock %}
