{% extends 'layouts/layout.html' %}

{% block content %}
<div role="contactInformation" itemscope itemtype="https://schema.org/ContactPage" class="contact section-element">
  <h2>Contact</h2>
  <p>
    Complete Development By <em class="font-weight-600" itemprop="Author" itemscope itemtype="https://schema.org/Author" name="Subhajit Gorai">Subhajit Gorai</em>
    <!-- <br />
    Age: 19 Years -->
    <br>
    Currently pursuing B.Tech in Information Technology, <a href="https://www.iiests.ac.in" rel="noopener" target="_blank" itemprop="url">IIEST Shibpur</a>
    <br />
    <br />

    I'm always eager to connect with fellow tech enthusiasts and readers.<br> Feel free to reach out to me through any of the following platforms:
    <br />
    <br />

    <a rel="noopener" target="_blank" href="https://github.com/Dream-World-Coder/LumiFeed" class="con_icons con_icons1 bg-set flexed justify-start f-gap-2">
      <img src="static/icons/g1.svg" alt="GitHub Profile" width="28" height="28" itemprop="url" />
      <span itemprop="name">You can Contribute, It's open source.</span>
    </a>
    <br />
    <a rel="noopener" target="_blank" href="https://www.linkedin.com/in/subhajitgorai" class="con_icons con_icons2 bg-set flexed justify-start f-gap-2">
      <img src="static/icons/ln1.svg" alt="LinkedIn Profile" width="28" height="28" itemprop="url" />
      <span itemprop="name">LinkedIn</span>
    </a>
    <br />
    <a rel="noopener" target="_blank" href="https://subhajit.pages.dev" class="con_icons con_icons3 bg-set flexed justify-start f-gap-2">
      <img src="static/icons/w2.svg" alt="Portfolio" width="28" height="28" itemprop="url" />
      <span itemprop="name">My Portfolio website</span>
    </a>
    <br />
    <a id="e-mail" class="con_icons con_icons4 bg-set flexed justify-start f-gap-2" href="mailto:lumifeed101@gmail.com">
      <img src="static/icons/e1.svg" alt="Email" width="28" height="28" />
      <span itemprop="email">My Email</span>
    </a>
    <br />
    <a target="_blank" class="con_icons con_icons4 bg-set flexed justify-start f-gap-2" href="https://blog-97z.pages.dev">
        <svg width="28" height="28" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M12 6.042A8.967 8.967 0 0 0 6 3.75c-1.052 0-2.062.18-3 .512v14.25A8.987 8.987 0 0 1 6 18c2.305 0 4.408.867 6 2.292m0-14.25a8.966 8.966 0 0 1 6-2.292c1.052 0 2.062.18 3 .512v14.25A8.987 8.987 0 0 0 18 18a8.967 8.967 0 0 0-6 2.292m0-14.25v14.25" />
        </svg>
        <span itemprop="blog">My Personal Blog</span>
    </a>
    <br />
    <br />

    Your
    <strong>feedback and suggestions are always welcome.</strong>
    Don't be shy to reach out!
    <br />
  </p>
</div>

<div class="contact-form">
    <h2>Let Me Know Your Suggesstions and Recommendations</h2>
    <form action=https://api.web3forms.com/submit id=form method=post>
        <p>
            <!-- <input name=redirect type=hidden value=https://subha-py-c.github.io/Noni/ > -->
            <input name=access_key type=hidden value=67104936-b712-4f86-abec-8dddf48deff3>

            <label for=emailer_name>Your name:</label>
            <input name=name id=emailer_name placeholder="Your Name" required>
            <br />
            <br />
            <label for=email>Email address for me to contact you:</label>
            <input name=email type=email id=email placeholder="Email Id [eg. jhon123@example.com]" required>
            <br />
            <br />
            <label for=msg>Message:</label>
            <textarea id=msg name=message placeholder="Your Message" rows=1 required></textarea>
            <br />
            <br />
            <button class="btn cen" id=submit type=submit value=Send>Send</button>
        </p>
    </form>
</div>
{% endblock %}


{% block scripts %}
<script type="text/javascript" src="{{url_for('static', filename='js/utils/emailing.js')}}"></script>
{% endblock %}
