:root {
  --pad: 15px;
  --bgx: var(--v-th);
  --bgx: rgb(37, 37, 37);
}

.about,
.contact {
  margin-top: 17rem;
  margin-left: var(--con-m-left);
  padding: var(--pad) var(--pad) var(--pad) var(--pad);
  font-size: 1.8rem;
  font-weight: 400;
  width: 65%;
  border-radius: calc(var(--pad) - 5px);
  border: 1px solid rgb(202, 202, 202);
  background-color: rgb(244, 244, 244);
}

.about h2,
.contact h2 {
  font-family: poppins, "Courier New", Courier, monospace;
  font-size: 2rem;
  margin-left: 1.5rem;
}

.about p,
.contact p {
  position: relative;
  padding-left: 40px;
  font-family: poppins, sans-serif;
  font-style: bold;
  font-size: 1rem;
  border-radius: calc(var(--pad) - 5px);
  border: 1px solid rgb(202, 202, 202);
  background-color: rgb(251, 251, 251);
  padding: 10px;
}

/* space */
.sp {
  height: 50vh;
  width: 100%;
  font-size: 0;
}

/* copyright */
.cc {
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 1.2rem;
  font-family: poppins, "Times New Roman", Times, serif;
}

/* icons */
.con_icons {
  display: inline-flex;
  width: fit-content;
  height: 32px;
  color: black;
  padding-left: 40px;
}

.con_icons3 img {
  border: 1px solid black;
  border-radius: 50%;
}

.contact p strong {
  color: var(--bgx);
}

.about p strong {
  font-weight: 800;
  color: var(--bgx);
}

@media (min-width: 300px) and (max-width: 767px) {
  .about,
  .contact {
    margin-top: 7rem;
    width: 95%;
    margin-left: 10px;
    font-size: 1.3rem;
    padding: 10px;
  }

  .about h2,
  .contact h2 {
    font-size: 1.8rem;
  }

  .about p,
  .contact p {
    font-size: 0.8rem;
    padding-left: 20px;
    padding: 8px;
  }
  .sp {
    height: 30vh;
  }
  .cc {
    height: 10rem;
    font-size: 1rem;
  }
  .con_icons {
    width: fit-content;
    height: 24px;
    padding-left: 40px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .about,
  .contact {
    margin-top: 7rem;
    width: 95%;
    margin-left: 10px;
    font-size: 1.3rem;
    padding: 10px;
  }

  .about h2,
  .contact h2 {
    font-size: auto;
  }

  .about p,
  .contact p {
    font-size: auto;
    padding-left: 20px;
    padding: 8px;
  }
  .sp {
    height: 40vh;
  }
  .cc {
    height: 10rem;
    font-size: auto;
  }
}

be {
  position: relative;
  display: block;
  height: 1rem;
  width: 100%;
}
