:root {
  --pad: 15px;
  --bgx: var(--v-th);
  --bgx: rgb(37, 37, 37);

  /* xtra */
  --con-m-left: 2rem;
}

.about,
.contact,
.contact-form {
  margin-left: var(--con-m-left);
  padding: var(--pad) var(--pad) var(--pad) var(--pad);
  font-size: 1.8rem;
  font-weight: 400;

  margin-top: 28rem;
  width: 70%;
  /* xtra */
  width: calc(100% - 2 * var(--con-m-left));
  margin-top: 8rem;

  border-radius: calc(var(--pad) - 5px);
  border: 1px solid rgb(202, 202, 202);
  background-color: rgb(244, 244, 244);
}

.about h2,
.contact h2,
.contact-form h2 {
  font-family: "Apercu Bold", poppins, "Courier New", Courier, monospace;
  font-size: 2rem;
  margin-left: 1.5rem;
  padding-bottom: 10px;

  @media screen and (max-width: 768px) {
    & {
      font-size: 1.25rem;
      margin-left: 0.5rem;
      color: rgb(77, 77, 77);
    }
  }
}

.about p,
.contact p,
.contact-form p {
  position: relative;
  padding-left: 40px;
  font-family: poppins, sans-serif;
  font-style: bold;
  font-size: 1rem;
  border-radius: calc(var(--pad) - 5px);
  border: 1px solid rgb(202, 202, 202);
  background-color: rgb(251, 251, 251);
  padding: 10px;
}

.contact-form {
  font-family: poppins, sans-serif;
  width: 50%;

  & h2 {
    font-size: 1.6rem;
  }

  & form p label {
    font-family: poppins, sans-serif !important;
    font-size: 1rem;
  }

  & form p input {
    height: 2rem;
    margin-left: 20px;
    border-radius: 5px;
    background-color: transparent;
    border-color: rgb(202, 202, 202);
  }

  & form p textarea {
    height: 100px;
    width: min(70%, 500px);
    border-radius: 5px;
    background-color: transparent;
    border-color: rgb(202, 202, 202);
  }

  & button {
    border-radius: 10px;
    /* background-color: rgb(202, 202, 202) !important; */
  }
}

/* icons */
.con_icons {
  display: inline-flex;
  width: fit-content;
  height: 32px;
  color: black;
  padding-left: 40px;

  @media screen and (max-width: 768px) {
    & {
      padding-left: 20px;
      width: fit-content;
      height: 26px;
    }

    & img {
      width: 26px;
      height: 26px;
    }
  }
}

.con_icons3 img {
  border: 1px solid black;
  border-radius: 50%;
}

.contact p strong {
  color: var(--bgx);
}

.about p strong {
  font-weight: 800;
  color: var(--bgx);
}

/* space */
.sp {
  height: 50vh;
  width: 100%;
  font-size: 0;
}
/* ----------
footer
---------------------*/
footer {
  box-sizing: border-box;
  position: relative;
  width: 100vw;
  height: 30vh;
  background-color: var(--header-footer-bgclr);
  color: var(--color-shadow-black-heavy);
  padding: 15px;
  z-index: 103;
  margin-top: calc(100vh - 50vh);

  & ul {
    list-style-type: none;
  }

  & a {
    /* color: #eee6c8; */
    color: var(--header-footer-clr);
    font-size: 1rem;
    font-family: AppleGothic, poppins, sans-serif;
    font-weight: 300 !important;
    font-size: large;

    &:hover {
      text-decoration: none;
    }
  }
}

body.dark-mode footer li a,
body.dark-mode nav li a {
  /* color: #eee6c8 !important; */
  color: var(--header-footer-clr) !important;
}

.footer__logo {
  width: 70%;
  padding: 20px;
  font-size: 3.75rem;
  color: rgb(222, 222, 222);
}

.footer__socials,
.footer__links {
  width: 15%;
  padding-left: 30px;
}

.footer__logo,
.footer__socials,
.footer__links {
  height: calc(100% + 15px - 3rem);
}

/* copyright */
.footer__cc {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3rem;
  width: 100%;
  font-size: 1rem;
  font-family: poppins, "Times New Roman", Times, serif;
}

/* -------------------------
    Media Queries
-----------------*/
@media (max-width: 768px) {
  footer {
    padding: 10px;
    margin-top: 56vh;

    & a {
      font-size: 0.85rem;
    }
  }

  .footer__logo {
    font-size: 2.5rem;
    width: 50%;
  }

  .footer__socials,
  .footer__links {
    width: 25%;
    padding-left: 15px;
  }

  .footer__cc {
    font-size: 0.75rem;
  }
}

@media (min-width: 300px) and (max-width: 768px) {
  .about,
  .contact,
  .contact-form {
    margin-top: 5rem;
    width: 95%;
    margin-left: 10px;
    font-size: 1.25rem;
    padding: 10px;
  }

  .about p,
  .contact p,
  .contact-form p {
    font-size: var(--td-font-size);
    padding-left: 20px;
    padding: 8px;
  }

  .contact-form h2 {
    font-size: 1.15rem;
  }

  .contact-form form p label {
    font-size: 0.85rem;
  }

  .contact-form form p input::placeholder {
    font-size: 0.85rem;
  }

  .contact-form form p textarea {
    height: 70px;
  }

  .contact-form form p button {
    width: 70px;
    height: 30px;
    font-size: 0.85rem;
  }

  .sp {
    height: 30vh;
  }
  .cc {
    height: 10rem;
    font-size: 1rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .about,
  .contact,
  .contact-form {
    margin-top: 7rem;
    width: 95%;
    margin-left: 10px;
    font-size: 1.3rem;
    padding: 10px;
  }

  .about h2,
  .contact h2,
  .contact-form h2 {
    font-size: auto;
  }

  .about p,
  .contact p,
  .contact-form {
    font-size: auto;
    padding-left: 20px;
    padding: 8px;
  }
  .sp {
    height: 40vh;
  }
  .cc {
    height: 10rem;
    font-size: auto;
  }
}
