@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* ---------------------------------------------------
              Tangerine
--------------------------------------------------------------- */
@font-face {
  font-family: "Tangerine";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/tangerine/v17/IurY6Y5j_oScZZow4VOxCZZMprNA4A.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
  font-family: "Tangerine";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/tangerine/v17/Iurd6Y5j_oScZZow4VO5srNZi5FNym499g.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.tangerine-regular {
  font-family: "Tangerine", cursive;
  font-weight: 400;
  font-style: normal;
}

.tangerine-bold {
  font-family: "Tangerine", cursive;
  font-weight: 700;
  font-style: normal;
}

/* ---------------------------------------------------
              Dancing Script
--------------------------------------------------------------- */
@font-face {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dancingscript/v25/If2RXTr6YS-zF4S-kcSWSVi_szLviuEHiC4Wl-8.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329,
    U+1EA0-1EF9, U+20AB;
}

/* latin-ext */
@font-face {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dancingscript/v25/If2RXTr6YS-zF4S-kcSWSVi_szLuiuEHiC4Wl-8.woff2)
    format("woff2");
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dancingscript/v25/If2RXTr6YS-zF4S-kcSWSVi_szLgiuEHiC4W.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* ---------------------------------------------------
              LoveRegular
--------------------------------------------------------------- */

@font-face {
  font-family: "LoveRegular";
  src: url("https://assets.awwwards.com/assets/fonts/love/Love-Regular.woff");
  font-style: normal;
  font-weight: 200;
}

/* ---------------------------------------------------
              Dahlia - file needed
--------------------------------------------------------------- */

@font-face {
  font-display: swap;
  font-family: Dahlia;
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/dahlia.woff2) format("woff2");
}

/* ---------------------------------------------------
              Mondia - file needed
--------------------------------------------------------------- */

@font-face {
  font-display: swap;
  font-family: Mondia;
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/mondia.woff2) format("woff2");
}

/* ---------------------------------------------------
              MondiaThin - file needed
--------------------------------------------------------------- */

@font-face {
  font-display: swap;
  font-family: MondiaThin;
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/mondia-thin.woff2) format("woff2");
}

/* ---------------------------------------------------
              MilitaryScribe - file needed
--------------------------------------------------------------- */

@font-face {
  font-display: swap;
  font-family: MilitaryScribe;
  font-style: normal;
  font-weight: 400;
  src: url(../../fonts/scribe.woff2) format("woff2");
}

/* ---------------------------------------------------
              Chillax - Need the file first
--------------------------------------------------------------- */
/**
* @license
*
* Font Family: Chillax
* Designed by: Manushi Parikh
* URL: https://www.fontshare.com/fonts/chillax
* © 2024 Indian Type Foundry
*
* Chillax Extralight 
* Chillax Light 
* Chillax Regular 
* Chillax Medium 
* Chillax Semibold 
* Chillax Bold 
* Chillax Variable (Variable font)

*
*/
@font-face {
  font-family: "Chillax-Extralight";
  src: url("../fonts/Chillax-Extralight.woff2") format("woff2"),
    url("../fonts/Chillax-Extralight.woff") format("woff"),
    url("../fonts/Chillax-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Chillax-Light";
  src: url("../fonts/Chillax-Light.woff2") format("woff2"),
    url("../fonts/Chillax-Light.woff") format("woff"),
    url("../fonts/Chillax-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Chillax-Regular";
  src: url("../fonts/Chillax-Regular.woff2") format("woff2"),
    url("../fonts/Chillax-Regular.woff") format("woff"),
    url("../fonts/Chillax-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Chillax-Medium";
  src: url("../fonts/Chillax-Medium.woff2") format("woff2"),
    url("../fonts/Chillax-Medium.woff") format("woff"),
    url("../fonts/Chillax-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Chillax-Semibold";
  src: url("../fonts/Chillax-Semibold.woff2") format("woff2"),
    url("../fonts/Chillax-Semibold.woff") format("woff"),
    url("../fonts/Chillax-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Chillax-Bold";
  src: url("../fonts/Chillax-Bold.woff2") format("woff2"),
    url("../fonts/Chillax-Bold.woff") format("woff"),
    url("../fonts/Chillax-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 700.0;
*
* available axes:
'wght' (range from 200.0 to 700.0
*/
@font-face {
  font-family: "Chillax-Variable";
  src: url("../fonts/Chillax-Variable.woff2") format("woff2"),
    url("../fonts/Chillax-Variable.woff") format("woff"),
    url("../fonts/Chillax-Variable.ttf") format("truetype");
  font-weight: 200 700;
  font-display: swap;
  font-style: normal;
}

/* ---------------------------------------------------
              Cabinet Grotesk - file needed
--------------------------------------------------------------- */
/**
* @license
*
* Font Family: Cabinet Grotesk
* Designed by: ITF
* URL: https://www.fontshare.com/fonts/cabinet-grotesk
* © 2024 Indian Type Foundry
*
* Cabinet Grotesk Thin 
* Cabinet Grotesk Extralight 
* Cabinet Grotesk Light 
* Cabinet Grotesk Regular 
* Cabinet Grotesk Medium 
* Cabinet Grotesk Bold 
* Cabinet Grotesk Extrabold 
* Cabinet Grotesk Black 
* Cabinet Grotesk Variable (Variable font)

*
*/
@font-face {
  font-family: "CabinetGrotesk-Thin";
  src: url("../fonts/CabinetGrotesk-Thin.woff2") format("woff2"),
    url("../fonts/CabinetGrotesk-Thin.woff") format("woff"),
    url("../fonts/CabinetGrotesk-Thin.ttf") format("truetype");
  font-weight: 100;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "CabinetGrotesk-Extralight";
  src: url("../fonts/CabinetGrotesk-Extralight.woff2") format("woff2"),
    url("../fonts/CabinetGrotesk-Extralight.woff") format("woff"),
    url("../fonts/CabinetGrotesk-Extralight.ttf") format("truetype");
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "CabinetGrotesk-Light";
  src: url("../fonts/CabinetGrotesk-Light.woff2") format("woff2"),
    url("../fonts/CabinetGrotesk-Light.woff") format("woff"),
    url("../fonts/CabinetGrotesk-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "CabinetGrotesk-Regular";
  src: url("../fonts/CabinetGrotesk-Regular.woff2") format("woff2"),
    url("../fonts/CabinetGrotesk-Regular.woff") format("woff"),
    url("../fonts/CabinetGrotesk-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "CabinetGrotesk-Medium";
  src: url("../fonts/CabinetGrotesk-Medium.woff2") format("woff2"),
    url("../fonts/CabinetGrotesk-Medium.woff") format("woff"),
    url("../fonts/CabinetGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "CabinetGrotesk-Bold";
  src: url("../fonts/CabinetGrotesk-Bold.woff2") format("woff2"),
    url("../fonts/CabinetGrotesk-Bold.woff") format("woff"),
    url("../fonts/CabinetGrotesk-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "CabinetGrotesk-Extrabold";
  src: url("../fonts/CabinetGrotesk-Extrabold.woff2") format("woff2"),
    url("../fonts/CabinetGrotesk-Extrabold.woff") format("woff"),
    url("../fonts/CabinetGrotesk-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "CabinetGrotesk-Black";
  src: url("../fonts/CabinetGrotesk-Black.woff2") format("woff2"),
    url("../fonts/CabinetGrotesk-Black.woff") format("woff"),
    url("../fonts/CabinetGrotesk-Black.ttf") format("truetype");
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}
/**
* This is a variable font
* You can control variable axes as shown below:
* font-variation-settings: wght 900.0;
*
* available axes:
'wght' (range from 100.0 to 900.0
*/
@font-face {
  font-family: "CabinetGrotesk-Variable";
  src: url("../fonts/CabinetGrotesk-Variable.woff2") format("woff2"),
    url("../fonts/CabinetGrotesk-Variable.woff") format("woff"),
    url("../fonts/CabinetGrotesk-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

/* ---------------------------------------------------
              Dancing Script
--------------------------------------------------------------- */

/* ---------------------------------------------------
              Dancing Script
--------------------------------------------------------------- */
