@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
    font-display: swap;
    font-family: Dahlia;
    font-style: normal;
    font-weight: 400;
    src: url("../../fonts/dahlia.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: MondiaThin;
    font-style: normal;
    font-weight: 400;
    src: url("../../fonts/mondia-thin.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: MilitaryScribe;
    font-style: normal;
    font-weight: 400;
    src: url("../../fonts/scribe.woff2") format("woff2");
}

@font-face {
    font-display: swap;
    font-family: "Apercu Bold";
    font-style: normal;
    font-weight: bold;
    src: url("../../fonts/apercu-bold-pro.woff") format("woff");
}

@font-face {
    font-display: swap;
    font-family: "content";
    font-style: normal;
    font-weight: normal;
    src: url("../../fonts/content.woff") format("woff");
}
