:root {
  --header-height: 5rem;
  --fetch-news-height: 24rem;
  --fetch-news-m-top: calc(var(--header-height) + 20px);
  --r: 70px;
}

header {
  top: 0px;
  left: 0;
  height: var(--header-height);
  width: 100%;
  padding: 5px;
  background-color: rgba(31, 31, 31, 0.886) !important;
  /* 886 --> 686 */
  z-index: 100;
  border: none !important;
}

.header_wrapper {
  position: relative;
  width: calc(100% - var(--r)) !important;
  margin-left: 20px;
}

/*-----------------
 logo
----------------*/
.logo {
  width: 40px;
  height: 40px;
  flex-grow: 1;
}

#logo-img {
  background-color: aliceblue;
}

.logo img {
  width: 40px;
  height: 40px;
  border-radius: 35%;
  padding: 5px;
}

#logo-text {
  font-family: Dahlia;
  margin-left: 10px;
  font-size: 1.25rem;
  color: aliceblue !important;
}

/*-----------------
 buttons
----------------*/
.buttons {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.bigger-font,
.dark_mode {
  transition: all 0.3s;
  z-index: 150;
}

.bigger-font:hover,
.dark_mode:hover {
  transform: scale(1.2);
  transition: all 0.3s;
}

#big_f img {
  width: 30px;
  height: 30px;
}

@media (min-width: 1025px) and (max-width: 2440px) {
  .mobile_search {
    display: none;
  }
}

@media (max-width: 1024px) {
  :root {
    --header-height: 4rem;
    --fetch-news-height: 24rem;
    --fetch-news-m-top: calc(var(--header-height) + 20px);
    --r: 10px;
    /* not working */
    --icon-height: 30px;
    --icon-width: 30px;
  }

  .header_wrapper {
    width: calc(100% - 10px) !important;
    margin-left: 5px;
  }

  .logo,
  .logo img {
    width: 30px;
    height: 30px;
  }

  #logo-text {
    margin-left: 5px;
    font-size: 1.25rem;
  }

  .buttons {
    gap: 5px;
  }

  .dmbtn img {
    width: 30px;
    height: 30px;
  }

  #big_f img {
    width: calc(30px - 5px);
    height: calc(30px - 5px);
  }

  .mobile_search {
    margin-right: 10px;
  }

  .mobile_search img {
    width: 30px;
    height: 30px;
  }

  .bigger-font:hover,
  .dark_mode:hover {
    transform: none;
  }
  /*
      why not working ???????[in styles.css]
      width: var(--icon-width);
      height: var(--icon-height);
    */
}

@media (max-width: 768px) {
  #logo-text {
    font-size: 1rem;
  }
}
