:root {
  --nav-width: 280px;
}

nav {
  position: relative;
  height: 100%;
  width: var(--nav-width);
}

.ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.li a {
  z-index: 102;
}

.li1,
.li2 {
  border-radius: 15px;
  transition: all 0.3s;
}

.li1:hover,
.li2:hover {
  transform: translateY(-2px);
  box-shadow: 0 0px 2px 0px rgba(221, 43, 79, 0.3), 0 0px 0px 4px rgba(221, 43, 79, 0.3);
  transition: all 0.3s;
}

nav .ul .li1,
nav .ul .li2 {
  position: fixed;
  display: flex;
  top: calc(100dvh - 50px);
}

nav .ul .li1 {
  right: 285px;
}
nav .ul .li2 {
  right: 330px;
}

.li3 a,
.li4 a,
.li5 form button {
  font-size: 1.15rem;
  color: var(--clr2);
  text-decoration: none;
  font-family: poppins, Arial, Helvetica, sans-serif;
}

.li5 form button {
  border: 1px solid var(--clr2);
  border-radius: 5px;
  transform: translateY(0px);
  background-color: #dd2b4f31;
  transition: all 0.3s;
  padding: 3px;
  font-size: smaller;
}

.li5 form button:hover {
  transform: translateY(-2px);
  box-shadow: 0 0px 2px 0px rgba(221, 43, 79, 0.3), 0 0px 0px 4px rgba(221, 43, 79, 0.3);
  transition: all 0.3s;
}

/* --- media queries ---
------------------------------- */
@media (max-width: 1024px) {
  nav,
  nav .ul .li3,
  nav .ul .li4 {
    display: none;
  }

  nav .ul .li1 {
    right: 10px;
  }
  nav .ul .li2 {
    right: 55px;
  }

  .li1:hover,
  .li2:hover {
    transform: none;
    box-shadow: none;
  }

  :root {
    --nav-width: 0px;
  }
}
