:root {
  --nav-width: 420px;
}

nav {
  position: relative;
  height: 100%;
  width: var(--nav-width);
}

.ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.li2 {
  --len: 40px;
  width: var(--len);
  height: var(--len);
  overflow: hidden;
  margin-top: 4px;

  & .iconImg {
    position: relative;
    width: calc(var(--len) - 10px);
    height: calc(var(--len) - 10px);
  }
}

@media (max-width: 768px) {
  .li2 {
    --len: 36px;
  }
}

.li a {
  z-index: 102;
  font-size: 1rem;
  /* color: #eee6c8; */
  color: #fff;
  text-decoration: none;
  font-family: poppins, Arial, Helvetica, sans-serif;

  @media screen and (max-width: 1024px) {
    font-size: 1rem;
  }

  @media screen and (max-width: 768px) {
    font-size: 0.86rem;
  }
}
body.dark-mode .li a {
  /* color: #eee6c8; */
  color: #fff;
}

.mobile-li {
  display: none;
  display: block;
}

.ham {
  position: absolute;
  right: 0px;
  top: calc(50% - 10px);
}

.nav-items-for-mobiles {
  width: 134px;
  height: 200px;
  position: absolute;
  top: 0;
  left: -40px;
  transform: scaleY(0);
  transition: transform 0.3s;
  transform-origin: top;
  background-color: #2ba267;
  border-radius: 10px;
  z-index: 151;
}

.nav-items-for-mobiles.expand {
  transform: scaleY(1);
  transition: transform 0.3s;
}
.ham img:nth-last-child(1) {
  /* color: #eee6c8; */
  color: #fff;
  transform: scale(1.7);
}

/* --- media queries ---
  ------------------------------- */
@media (max-width: 1024px) {
  :root {
    --nav-width: 108px;
  }

  .og-li {
    display: none;
  }
}
