:root {
  --rad: 10px;
  --body-bg-clr: rgb(251, 251, 251);
  --dm-body-bg-clr: rgb(28, 28, 28);
  --normal-bg-clr: rgb(244, 244, 244);
  --normal-bg-clr: var(--color-green-100);

  --dark-mode-bg-clr: rgba(108, 108, 108, 0.5);
  /* --dark-mode-bg-clr: var(--color-green-100); */

  --normal-border-clr: rgb(202, 202, 202);
  --dark-mode-border-clr: rgba(108, 108, 108, 0.9);
}

body {
  background-color: var(--body-bg-clr);
  color: black;
  overflow-x: hidden;
}

body.dark-mode {
  background-color: var(--dm-body-bg-clr);
  color: whitesmoke;
}

/* ------------     add new collection
----------------------------------- */
.add_new_collection_btn {
  position: fixed;
  bottom: 25px;
  left: calc(100% - 70px - 25px);
  --w: 50px;
  width: var(--w);
  height: var(--w);
  border-radius: 50%;
  transition: all 0.3s;
  z-index: 99999;

  @media (max-width: 1024px) {
    --w: 30px;
    left: calc(100% - 30px - 15px);
    bottom: 20px;
  }
}

.add_new_collection_btn .img_container {
  position: relative;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.add_new_collection_btn .img_container img {
  width: 100%;
  height: 100%;
}

.add_new_collection_btn::before {
  content: "Add a new collection";
  width: 175px;
  height: 1rem;
  font-family: Poppins, sans-serif;
  position: absolute;
  top: 50%;
  right: 100%;
  padding-right: 10px;
  transform: translateY(-50%) scaleX(0);
  transition: all 0.3s;
  transform-origin: right;
  white-space: nowrap;
}

.add_new_collection_btn:hover .img_container {
  transform: rotate(90deg);
}

.add_new_collection_btn:hover::before {
  transform: translateY(-50%) scaleX(1);
}

/* ------------     collection
----------------------------------- */
.collections_container {
  width: 100vw;
  height: calc(100vh - 5rem);
  /* height: auto; */
  margin-top: 5rem;
  padding: 15px;
  /* display: flex; */
  /* flex-direction: row !important; */

  @media (max-width: 1024px) {
    & {
      height: calc(100vh - 4rem);
      margin-top: 4rem;
    }
  }

  @media (max-width: 768px) {
    & {
      padding: 0px;
    }
  }
}

/* now collection group = collection */
.collection_group {
  height: 40%;
  width: 100%;
  /* height: 40%; */
  /* width: 40%; */
  padding: 20px;
  padding-left: 0;
  padding-top: 0;
  display: flex;
  align-self: center;
  justify-content: flex-start !important;
  /* border: 1px solid rgb(223, 17, 17); */

  @media (max-width: 1024px) {
    & {
      height: 80%;
      padding: 10px 30px 10px 30px;
    }
  }

  @media (max-width: 768px) {
    & {
      height: 90%;
      padding: 5px 15px 5px 15px;
    }
  }
}
/* .collection_group:nth-last-child() {
  padding-bottom: 10rem!important;
} */

.collection_display {
  position: fixed;
  top: calc(5rem + 15px);
  right: 15px;
  height: calc(100% - 100px - 5rem);

  --collection-width-normal: 35%;
  --collection-padding-left: 20px;
  --collection_display-right: 15px;
  --gap-between-collection_display-and-collection: 15px;
  --something-xtra: 15px;
  width: calc(100% - 35% - 20px - 15px - 20px + 15px);

  border-radius: var(--rad);
  /* border: 1px solid var(--normal-border-clr); */
  z-index: 99;

  & .collection {
    width: 100%;
    z-index: 100;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  & .collection_content ul li {
    position: relative;
    width: 100%;
    height: 60px;
    display: flex;
    /* align-items: center; */
    overflow: hidden;
    padding: 10px;
    padding-left: 15px;
    border-bottom: 1px solid var(--normal-border-clr);
    line-height: 1rem;
    z-index: 10;
    color: rgb(55, 55, 55);

    &:hover {
      color: white;
    }
  }

  & .collection_content ul li:hover::before {
    transform: scaleY(1);
    transition: all 0.2s;
    transform-origin: top;
    z-index: 20;
  }

  @media (max-width: 1024px) {
    & {
      display: none;
    }
  }
}

/* body.dark-mode .collection_display {
  border: 1px solid var(--dark-mode-border-clr);
} */

.collection {
  border: 1px solid var(--normal-border-clr);
  width: 35%;
  height: 100%;
  border-radius: var(--rad);
  background-color: var(--body-bg-clr);
  overflow: hidden;

  @media (max-width: 1024px) {
    & {
      width: 100%;
      height: 90%;
      overflow-x: hidden;
      overflow-y: scroll;
    }
  }
}

@media (width > 1500px) {
  .collection {
    width: 40%;
  }
  .collection_display {
    width: calc(100% - 40% - 20px - 15px - 20px + 15px);
  }
}
.collection::-webkit-scrollbar {
  width: 0;
}

.collection:hover .delete_collection {
  display: flex;
}

body.dark-mode .collection {
  background-color: var(--dm-body-bg-clr);
  border: 1px solid var(--dark-mode-border-clr);
}

.collection_name {
  position: relative;
  width: 100%;
  height: 50px;
  background-color: var(--normal-bg-clr);
  border-radius: var(--rad) var(--rad) 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: larger;
  font-family: poppins, sans-serif;
  font-weight: 500;
  border-bottom: 1px solid var(--normal-border-clr);

  @media (max-width: 768px) {
    & {
      font-size: 1rem;
    }
  }
}

body.dark-mode .collection_name {
  background-color: var(--dark-mode-bg-clr);
  border-bottom: 1px solid var(--dark-mode-border-clr);
}

.collection_content {
  overflow-x: hidden;
}

.collection_content ul {
  position: relative;
  width: 100%;
  height: 100%;
  list-style-type: none;
  overflow-y: scroll;
  padding-left: 15px;
}

.collection_content ul li {
  position: relative;
  width: 100%;
  height: 60px;
  display: flex;
  /* align-items: center; */
  overflow: hidden;
  padding: 10px;
  padding-left: 15px;
  border-bottom: 1px solid var(--normal-border-clr);
  line-height: 1rem;
  z-index: 10;
  color: rgb(55, 55, 55);

  &:hover {
    color: rgb(55, 55, 55);
  }
}

body.dark-mode .collection_content ul li {
  color: rgb(207, 207, 207);
  border-bottom: 1px solid var(--dark-mode-border-clr);
}

@media (max-width: 768px) {
  .collection_content ul li {
    line-height: 0.85rem;
    font-size: 0.85rem;
    height: 70px;
  }
}

.collection_content ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scaleY(0);
  transition-delay: 0.1s;
  transition: all 0.4s;
  mix-blend-mode: difference;
  z-index: 10;
  transform-origin: top;
  background-color: rgb(0, 0, 0);
  /* background-color: var(--color-green-400); */
}

body.dark-mode .collection_content ul li::before {
  background-color: rgb(255, 255, 255);
  /* background-color: var(--color-green-400); */
}

.collection_content ul li:hover::before {
  transform: scaleY(0);
  transition: all 0.2s;
  transform-origin: top;
  z-index: 20;
}

.delete_collection,
.delete_article {
  z-index: 60;
  --w2: 25px;
  width: var(--w2);
  height: var(--w2);
  border-radius: 50%;

  position: absolute;
  top: calc(50% - 10px);
  right: 15px;
  /* background-color: aliceblue; */

  display: flex;
  align-items: center;
  justify-content: center;
  display: none;

  & img {
    width: var(--w2);
    height: var(--w2);
  }

  &:hover {
    border: 1px solid rgb(255, 255, 255);
  }
}
@media (max-width: 768px) {
  .delete_article {
    display: flex;
  }
  .collection_content ul li:hover::before {
    transform: scaleY(0);
  }
}

body.dark-mode .delete_article:hover {
  border: 1px solid rgb(0, 0, 0);
}

.collection_content ul li:hover .delete_article {
  display: flex;
}

/* ------------     profile
----------------------------------- */
.profile_settings {
  position: absolute;
  top: 5rem;
  left: 50px;
  width: 300px;
  height: 400px;
  border-radius: var(--rad);
  display: flex;
  flex-direction: column;
  background-color: var(--normal-bg-clr);
  background-color: rgba(244, 244, 244, 1);
  border: 1px solid var(--normal-border-clr);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 1000 !important;
  box-shadow: -1.5px 1.5px 0px var(--color-gray-300);
  /* display: none;
  have to use style="display:'none';"*/

  @media (max-width: 768px) {
    top: 5rem;
    left: auto;
    right: auto;
  }
}

body.dark-mode .profile_settings {
  background-color: rgb(68, 68, 68);
  border: 1px solid rgb(55, 55, 55);
  box-shadow: -1.5px 1.5px 0px var(--color-gray-600);
}

.user_details {
  position: relative;
  width: 100%;
  height: 80%;

  & .profile_pic {
    margin-top: 15px;
    width: 80px;
    height: 80px;

    & img {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }

  & .user_name {
    margin-top: 15px;
    text-align: center;
    font-size: 1.5rem;

    @media (max-width: 768px) {
      font-size: 1.15rem;
    }
  }

  & .user_email {
    margin-top: 15px;
    text-align: center;
    font-size: 1rem;
    @media (max-width: 768px) {
      font-size: 0.85rem;
    }
  }
}

.delete_account {
  position: relative;
  width: 100%;
  height: 20%;

  & button {
    border: none;
    font-size: 1rem;
    box-sizing: content-box;
    padding: 5px;
    border-radius: 5px;
    background-color: var(--clr2);
    color: white;
  }
}

body.dark-mode .delete_account button {
  color: rgb(0, 0, 0);
}
