:root {
  --read-h: 85vh;
  --read-w: 90vw;
  --ajax-p-fs: 1rem;
}

.rbtn {
  box-sizing: content-box;
  padding: 5px;
  border-radius: 10px;
  background-color: var(--clr2);
  color: aliceblue;
  z-index: 70;
  font-family: poppins, sans-serif;
}

#read {
  position: fixed;
  z-index: 9999;
  top: calc(var(--header-height) + 1rem);
  left: calc((100vw - var(--read-w)) / 2);
  width: var(--read-w);
  height: var(--read-h);
  background-color: rgba(0, 0, 0, 0);
  border-radius: 35px;
  padding: 10px;
  display: none;
}

.read__container {
  position: relative;
  background-color: rgb(251, 251, 251);
  border-radius: 25px;
  border: 1px solid rgb(202, 202, 202);
}

.read__navigations {
  position: relative;
  height: 3.5rem;
  background-color: rgb(226, 226, 226);
  border-radius: 20px 20px 0 0;
  border-bottom: 2px solid rgb(202, 202, 202);
  justify-content: flex-end;
  padding-right: 20px;
}

.read__icons,
.read__icons img {
  width: 35px;
  height: 35px;
}

.read__icons {
  z-index: 99999;
}

.read__page {
  position: relative;
  border-radius: 0px 0px 25px 25px;
  height: calc(100% - 3.5rem);
  padding: 30px;
  font-family: Georgia, Times, "Times New Roman", serif;
  overflow-y: scroll;
  overflow-x: hidden;
}
.read__page h1 {
  font-size: 2.5rem;
}
.read__page h3 {
  font-size: 1.5rem;
  color: rgb(107, 107, 107);
}
.read__page p {
  font-size: var(--ajax-p-fs);
  font-family: "Red Hat Display", sans-serif, Arial, Helvetica;
}
#ajax_p {
  column-count: 3;
  column-gap: 40px;
  text-align: justify;
  column-fill: auto;
}
.read__page img {
  border-radius: 5px;
  width: 100%;
}

#read__preview {
  color: black;
  font-size: 1rem;
  font-family: "Red Hat Display", "Courier New", Courier, monospace;
  font-weight: bold;
  margin-right: 0vw;
  position: absolute;
  top: 16px;
  left: 40px;
}

#read.hide {
  display: none;
}

#read.max {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  border-radius: 0;
}

@media (min-width: 150px) and (max-width: 768px) {
  #read {
    height: 75vh;
  }
  .read__navigations {
    height: 2rem;
  }
  .read__page {
    height: calc(100% - 2rem);
  }
  .read__page h1 {
    font-size: 1.15rem;
  }
  .read__page h3 {
    font-size: 0.75rem;
  }
  .read__page p {
    font-size: 0.65rem;
  }
  .read__page img {
    width: min(100%, 350px);
    height: 150px;
  }
  .read__icons,
  .read__icons img {
    width: 20px;
    height: 20px;
  }
  #read__preview {
    top: 3px;
  }
}

@media (min-width: 769px) and (max-width: 1025px) {
  #read {
    height: 75vh;
  }
  .read__navigations {
    height: 2rem;
  }
  .read__page {
    height: calc(100% - 2rem);
  }
  .read__page h1 {
    font-size: 1.25rem;
  }
  .read__page h3 {
    font-size: 0.85rem;
  }
  .read__page p {
    font-size: 0.75rem;
  }
  .read__page img {
    width: min(100%, 350px);
    height: 150px;
  }
  .read__icons,
  .read__icons img {
    width: 20px;
    height: 20px;
  }
  #read__preview {
    top: 3px;
  }
}

/* --------------------------- */

@media (min-width: 1440px) {
  #ajax_p {
    column-count: 3;
    column-gap: 20px;
  }
}
@media (max-width: 768px) {
  #ajax_p {
    column-count: 3;
    column-gap: 15px;
  }
}
@media (max-width: 600px) {
  #ajax_p {
    column-count: 2;
    column-gap: 10px;
  }
}
@media (max-width: 600px) {
  #ajax_p {
    column-count: 1;
    column-gap: 0px;
  }
}
